body {
    font-family: Calibri;
    font-size: 18px;
    background-color: #1f1f60;
    color: #ffffff;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #33cc33;
    padding: none;
    margin-bottom: 3px;
}

p {
    padding: 8px;
    text-align: center;
}

.formulario {
    background-color: #1f1f60;
    border: 2px solid #33cc33;
    border-radius: 30px;
    padding: 12px;
    margin-block: 50px;
    width: 300px;
    margin-top: 8px;
}

label {
    display: block;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: left;
    padding: 3px;
    margin: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    border: 3px solid #1f1f60;
}

.botao {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 8px auto 0;
}

.botao input {
    background-color: #33cc33;
    color: #0d0d0d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

footer {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 3px;
    width: 100%;
}

a {
    color: #ffd700;
    text-decoration: none;
    position: relative;
    padding: 5px;
    top: -15px;
}
