body {
    display: flex;
    align-items: center;
    background-color: lightgray;
    justify-content: center;
    height: 100vh;
    font-family: "Calibri" sans-serif;
}

.card {
    background-color: white;
    width: 300px;
    padding: 22px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
}

.card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 15px;
}
